<div class="row" id="myTable" style="display: block">
    <!--<p class="active" style="font-size: 20px;">表格显示</p>-->
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" id="membernunit">
                <caption style="text-align:center;font-size: 20px;">成员位置显示</caption>
                <thead>
                <tr>
                    <th id="headxuhao">序号</th>
                    <th>测试序号</th>
                    <th>使用单位</th>
                    <th>联系人</th>
                    <th>地址</th>
                    <th>联系电话</th>
                </tr>
                </thead>
                <tbody id="membernunit_body">
                </tbody>
            </table>
            <!--<button class="btn btn-primary btn-lg" >-->
                <!--导入EXCEL电梯文件-->
            <!--</button>-->
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
