<div class="modal fade" id="resetpassword" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <!--<h4 class="modal-title">密码重置</h4>-->
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="col-md-offset-0 col-md-9">
                        <form class="form-horizontal" id="resetmima">
                            <span class="heading">密码重置</span>
                            <div class="form-group">
                                <input type="password" class="form-control" id="yuanmima" name="yuanmima" placeholder="原密码">
                                <!--<i class="fa fa-user"></i>-->
                                <i class="glyphicon glyphicon-eye-close"></i>
                            </div>
                            <div class="form-group help">
                                <input type="password" class="form-control" id="xinmima" name="xinmima"  placeholder="新密码">
                                <i class="glyphicon glyphicon-eye-close"></i>
                            </div>
                            <div class="form-group help">
                                <input type="password" class="form-control" id="querenmima" name="querenmima" placeholder="确认密码">
                                <i class="glyphicon glyphicon-eye-close"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="confirmmima()">确定</button>
            </div>
        </div>
    </div>
</div>
