
    <!--<input type="button" value="百度搜索" onclick="map_search()"/>-->
    <input type="text" id="search" class="form-control" placeholder="输入公司名称或地址关键字"/>
    <input type="button" value="电梯搜索" class="btn btn-success" onclick="searchForMap('search')"/>
    <!--<input type="button" data-ng-click="showall();" value="显示"/>-->
    <div id="r-result">
        <table class="table table-bordered table-hover table-striped" id="factory">
            <caption style="text-align: center;font-size: 20px;">电梯分布单位</caption>
            <thead>
            <tr>
                <th>序号</th>
                <th>使用单位</th>
            </tr>
            </thead>
            <tbody id="factory_body">
            </tbody>
        </table>
    </div>

