<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.black.dao.ElevatorDao">
    <select id="searchByLocation" resultType="com.black.pojo.ElevatorEntity">
        select * from test_elevator where Address like '%${value}%'
    </select>
    <select id="searchDetail" resultType="com.black.pojo.ElevatorEntity">
        select * from test_elevator where UseUnit=#{useunit}
    </select>
    <select id="searchByName" resultType="com.black.pojo.ElevatorEntity">
        select * from test_elevator where UseUnit like '%${value}%'
    </select>
</mapper>
