<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.black.dao.UserDao">
    <select id="select" resultType="com.black.pojo.UserEntity">
        select * from user where account=#{account}
    </select>
    <insert id="insert">
        insert into user(account,password,email,company)
		values(#{account},#{password},#{email},#{company})
    </insert>
    <select id="selectByEmail" resultType="com.black.pojo.UserEntity">
         select * from user where email=#{email}
    </select>
    <update id="update">
        update  user set password=#{password} where email=#{email};
    </update>
    <update id="resetPassword">
        update  user set password=#{password} where account=#{account};
    </update>
</mapper>
